/* styles goes here */
body {
    background: #F7F7F7;
}

.col-6 {
    margin: 0 auto;
}

.col-8 {
margin: 0 auto;
}

[class^='icon-'] {
    font-size: 65px;
    text-align: center;
    padding-top: 52px;
}

h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #898F99;
    margin-top: 107px;
}

.title h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #0EC8CB;
    margin-top: 55px;
    width: 100%;
}

.titlesecond h2 {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-top: 55px;
}

 .secondh2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;
    /* identical to box height */
    text-transform: uppercase;
    color: #1B1B1B;
    padding-top: 52px;
    padding-bottom: 36x;
    text-align: center;
    margin: 0 auto;
}

.col-4 {
    margin-top: 99px;
    background: #F0F1F1;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    margin-bottom: 142px;
}
.content {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #777777;
}

.col-4:hover {
    background: #0EC8CB;
    color: #FFFFFF;
}

.col-4:hover .secondh2 {
    color: #FFFFFF
}
.col-4:hover .content {
    color: #ffffff;
}